h2= title
form(method='post', action='.')
	label title
	input(name='title', value=article.title)
	br
	label Body
	br
	textarea(name='body')
		=article.body
	br
	input(type='submit', value='create')
	
